certifi==2017.7.27.1
click==6.7
Flask==1.0.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==1.0
Werkzeug==0.15.3
Pillow==4.2.1
numpy==1.13.1
h5py==2.7.0
tensorflow==1.15.4
Keras==2.0.6
pandas==0.20.3
matplotlib==2.1.0
statsmodels==0.8.0
scikit-image==0.13.0
scikit-learn==0.19.1
seaborn==0.8
ipython==6.1.0
ipython-genutils==0.2.0
