.jumbotron {
    text-align: left;
    margin:10px;
}
/* remove default margin and padding from body */

  
img{
    height:90%;
    align-content: center;
}

/* set map, body, and html to 100% of the screen size */
/* #mapit,
body,
html {
height: 100%;
} */
  

#mapit
{
    width: 100px;
    height:100px;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

html, body
{
    height: 100%;
}

#map-holder{
    height: 100%;
}

.fill
{
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.container{
    max-width:60em;
    padding: 0.2em;
}
  
.carousel{
    background-color: rgb(241, 239, 239);
    margin-left:25px;
    height:100%;
    padding-bottom: 40px;

}
.carousel-inner > .carousel-item > img{
    margin:auto;
}

.trend{
    background-color: red;
    align-content: center;
    
}

.trend > img{
    margin:auto;
}
