<!DOCTYPE html>

<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Energy Solar Forecasting Model</title>
        
        <!-- Bootstrap -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <!-- Leaflet CSS & JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <!-- Our CSS -->   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    </head>
    <body>
    <div class="container-fluid">   
        <div class=row>
            <div class="col-md-12">
            <div class="jumbotron text-center">
                    <strong><h1><span class="category" style="color: #2e925b;">Forecast of Renewable Energy Consumption</span></h1></strong>
                    <h4>Insight into Solar</h4>

          
            </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
                <h4> Exploration into Monthly Solar Energy using four distinct techniques:</h4>
                <p>Autoregression, Linear Regression, Multi-layer Perceptron Regressor, and Random Forest Regressor</p>
                        
            <hr>    
            <p>
                The world of solar has advanced dramatically, solar’s clean energy is becoming more accessible every day.
                High residential electricity costs prompt homeowners to turn to solar for financial savings and environmental benefits.
                These trends motivated us to take a closer look at residential solar energy consumption in the United States. 
                    
            </p> 
            <br>
            <p>       
                    <h5>To better understand energy consumption, we are exploring data from the following sources:</h5>
                    <ul>
                            <li> Solar Energy Consumption by the residential sector from<a href="https://www.eia.gov/totalenergy/data/browser/?tbl=T02.01"> U.S. Energy Information Administration</a></li>
                            <li> Residential Energy Demand Temperature Index (REDTI) from<a href="https://www.ncdc.noaa.gov/societal-impacts/redti/USA"> NOAA National Oceanic and Atmospheric Administration</a></li>
                            <li>Average Retail Price of Residential Electricity from<a href="https://www.eia.gov/totalenergy/data/browser/?tbl=T09.08#/?f=M"> U.S. Energy Information Administration</a></li>
                    </ul>

                    We gathered monthly data for an overall perspective.       
            </p>
            <p> To identify the predictive model that best fits our time series, we leveraged a range of approaches, from the most simplistic to
                robust machine learning models.
            </p>
        </div>    
        </div>


<!-- Feautre Exploration -->

        <hr>
        <div class="row">
        <div class="col-md-12">
          <div class=jumbotron>
                <h5><span class="category" style="color: #2e925b;">Time Serie Exploration</span></h5>
                <br>
                <p> We explored the correlation of our solar engery consumption to determine the relationship between the observation and its historic values over time.</p>
                <p>This provided a threshold for selecting more relevant lag values for prediction.</p>

           </div>
           <div class="row">
                <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab" aria-controls="v-pills-one" aria-selected="true">Time serie</a>
                                <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab" aria-controls="v-pills-two" aria-selected="false">Lag Plot</a>
                                <a class="nav-link" id="v-pills-three-tab" data-toggle="pill" href="#v-pills-three" role="tab" aria-controls="v-pills-three" aria-selected="false">Autocorrelation</a>
                        </div>
                </div>
                <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab">

                                        <img src="{{ url_for('static', filename='images/timeserie.png') }}" alt="">
                                        <p class="category">The dataset is a time series of the Solar Energy Consumption by the residential sector from January 1989 to March 2018.
                                        The units are in trillion BTU and there are 351 observations.</p>
                                </div>
                                <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab">
                                        <img src="{{ url_for('static', filename='images/lag_plot.png') }}" alt="">
                                        <p class="category">To check the existence of autocorrelation in our time series dataset, 
                                        we plots the solar data (t) on the x-axis against the solar on the previous day (t-1) on the y-axis.
                                        We can see a large pool of observations along a diagonal line of the plot. It clearly shows a relationship or some correlation.
                                        To confirm our visual analysis we used a statistical test (Pearson correlation coefficient) 
                                        that revealed a strong positive correlation (0.96) between the observation and the lag=1 value.</p>
                                </div>
                                <div class="tab-pane fade" id="v-pills-three" role="tabpanel" aria-labelledby="v-pills-three-tab">
                                        <img src="{{ url_for('static', filename='images/autocorr.png') }}" alt="">
                                        <p class="category">We plot the correlation coefficient for each lag variable. Show the relationship between the observation and its historic values over time.
                                        The plot provides the lag number along the x-axis and the correlation coefficient value between -1 and 1 on the y-axis. 
                                        The plot also includes solid and dashed lines that indicate the 95% and 99% confidence interval for the correlation values. 
                                        Correlation values above these lines are more significant than those below the line.</p>

                                </div>
                                
                        </div>
                </div>
          </div>


<!-- Data Pre processing -->


<hr>
<div class="row">
<div class="col-md-12">
    <div class="jumbotron">
        <h5>Dataset evaluation and preprocessing</h5>
        <p>
                We create a dataset by adding features related to the Solar consumption. 
                <ul>
                        <li>Price</li>
                        <li> Total Energy </li>
                        <li> Temperature Index</li>
                        <li> Months as a category </li>
                        <li> Lag: A look into the past</li>
                        <li> Peek: A look into the future </li>
                </ul>
        </p>
        <p>
                We further explore if the features have any correlation, and if normalization improves the correlation. We filter best features
            
        </p>
   </div>
</div>
</div>
         <hr>
         
<div class="row">
   <div class="col-md-12">
      <div class="row">     
        <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pillsr-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-onef-tab" data-toggle="pill" href="#v-pills-onef" role="tab" aria-controls="v-pills-onef" aria-selected="true">Correlation</a>
                        <a class="nav-link" id="v-pills-onef2-tab" data-toggle="pill" href="#v-pills-onef2" role="tab" aria-controls="v-pills-onef2" aria-selected="false">Most Correlated</a>
                        
                        <a class="nav-link" id="v-pills-twof-tab" data-toggle="pill" href="#v-pills-twof" role="tab" aria-controls="v-pills-twof" aria-selected="false">Normalization</a>
                        <a class="nav-link" id="v-pills-twof2-tab" data-toggle="pill" href="#v-pills-twof2" role="tab" aria-controls="v-pills-twof2" aria-selected="false">Box Plot</a>

                        <a class="nav-link" id="v-pills-oner-tab" data-toggle="pill" href="#v-pills-oner" role="tab" aria-controls="v-pills-oner" aria-selected="true">Scaling</a>

                </div>
        </div>
        <div class="col-9">
                <div class="tab-content" id="v-pillsr-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-onef" role="tabpanel" aria-labelledby="v-pills-onef-tab">
                                <img src="{{ url_for('static', filename='images/overallcorrelationheat.png') }}" alt="">
                                Overall feature correlation 
                        </div>
                        <div class="tab-pane fade" id="v-pills-onef2" role="tabpanel" aria-labelledby="v-pills-onef2-tab">
                                <img src="{{ url_for('static', filename='images/correlationheat.png') }}" alt="">
                                Most correlated 
                        </div>
                        <div class="tab-pane fade" id="v-pills-twof" role="tabpanel" aria-labelledby="v-pills-twof-tab">
                                        <img src="{{ url_for('static', filename='images/normalization.png') }}" alt="">
                                Normalization of selected features
                        </div>
                        <div class="tab-pane fade" id="v-pills-twof2" role="tabpanel" aria-labelledby="v-pills-twof2-tab">
                                <img src="{{ url_for('static', filename='images/boxplotyear.png') }}" alt="">
                                Box Plot
                        </div>
                        <div class="tab-pane fade" id="v-pills-oner" role="tabpanel" aria-labelledby="v-pills-oner-tab">
                                <img src="{{ url_for('static', filename='images/LR_scaled_features.png') }}" alt="">
                               Scaled features
                        </div>
                </div>
        </div>
     </div>    
   </div>
</div>

<!-- Prediction models -->


                    <hr>
        <div class="row">
                <div class="col-md-12">
                <div class="jumbotron">
                        <h5>Prediction models</h5>
                        <p>
                                We explore ML models as recommended by research. The simplest mode is Persistence, basically the past predicts the future. 
                                The next is Autoregression model for predicting solar energy consumption based on the data itself. 
                                
                                The autoregression model is based if a linear model y = b0 + b1X  where y and x are 2 steps away:
                                        X(t=1) = b0 + b1(X(t-1)) + b2(X(t-2))

                                We use the datase created for Linear Regression

                                We use lag data for MLP

                                Finally we combine the results with Random Forest
                                <ul>
                                        
                                        <li> Persistence</li>
                                        <li> Autoregression</li>
                                        <li> Autoregression with retraining </li>
                                        <li> Linear regression </li>
                                        <li> MLP </li>
                                        <li> Random Forrest for combined method or AR, LR and MLP</li>
                                </ul>
                        </p>
                        <p> For models other than the Persistence model, we can vary the window to use for training and predicting the model. Select the period of time to be used for forecasting with autoregression models or testing with LR and MLP
                                and notice the difference in the Prediction score for each case.
                        <div class="dropdown">
                                <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenuselection">
                                <a class="dropdown-item" href="#">12 months</a>
                                <a class="dropdown-item" href="#">6 months</a>
                                <a class="dropdown-item" href="#">24 months</a>
                                </div>
                        </div> -->
                        <select class="btn btn-secondary dropdown-toggle" id="thedropdown" onchange="gethistory(this)">
                                <option class="dropdown-item" value="12">last 12 months</option>
                                <option class="dropdown-item" value="6">last 6 months</option>
                                <option class="dropdown-item" value="24">last 24 months</option>
                        </select>
                        </div>
                        </p>
                </div>
                 <hr>
                 
                <div class="row">
                <div class="col-md-12">
                <div class="row">     
                        <div class="col-3">
                                <div class="nav flex-column nav-pills" id="v-pillsr-tab" role="tablist" aria-orientation="vertical">                                
                                        <a class="nav-link active" id="v-pills-four-tab" data-toggle="pill" href="#v-pills-four" role="tab" aria-controls="v-pills-four" aria-selected="false">Persistence</a>
                                        <a class="nav-link" id="v-pills-five-tab" data-toggle="pill" href="#v-pills-five" role="tab" aria-controls="v-pills-five" aria-selected="false">Autoregression</a>
                                        <a class="nav-link" id="v-pills-six-tab" data-toggle="pill" href="#v-pills-six" role="tab" aria-controls="v-pills-six" aria-selected="false">Autoregression w/retraining</a>
                                        <a class="nav-link" id="v-pills-twor-tab" data-toggle="pill" href="#v-pills-twor" role="tab" aria-controls="v-pills-twor" aria-selected="false">Linear Regression</a>
                                        <a class="nav-link" id="v-pills-seven-tab" data-toggle="pill" href="#v-pills-seven" role="tab" aria-controls="v-pills-seven" aria-selected="false">MLP</a>
                                        <a class="nav-link" id="v-pills-eight-tab" data-toggle="pill" href="#v-pills-eight" role="tab" aria-controls="v-pills-eight" aria-selected="false">Random Forrest</a>
                                </div>
                        </div>
                        <div class="col-9">
                                <div class="tab-content" id="v-pillsr-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-four" role="tabpanel" aria-labelledby="v-pills-four-tab">
                                                <div class="panel">
                                                                <h5 class="panel-header">Prediction score:</h5>
                                                                <div class="panel-body" style="border:solid;align-content:center">
                                                                <span id="prediction_P">MSE: 13.598</span>
                                                                </div>
                                                </div>
                                                <!-- <img src="{{ url_for('static', filename='images/model_persistence.png') }}" alt=""> -->
                                                Naive Persistence model will forecast based on what it has seen. Prediction in Red. Actual in Blue.
                                        </div>
                                        
                                        <div class="tab-pane fade" id="v-pills-five" role="tabpanel" aria-labelledby="v-pills-five-tab">
                                                <div class="panel">
                                                        <h5 class="panel-header">Prediction score:</h5>
                                                        <div class="panel-body" style="border:solid;align-content:center">
                                                        <span id="prediction_AR">MSE: 0.336</span>
                                                        </div>
                                                </div>
                                                <!-- <img src="{{ url_for('static', filename='images/ARmodel.png') }}" alt=""> -->
                                                Improved prediction with autoregresssion model. Prediction in Red. Actual in Blue.
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-six" role="tabpanel" aria-labelledby="v-pills-six-tab">
                                                <div class="panel">
                                                        <h5 class="panel-header">Prediction score:</h5>
                                                        <div class="panel-body" style="border:solid;align-content:center">
                                                        <span id="prediction_ARH">MSE: 0.041</span>
                                                        </div>
                                                </div>  
                                                <!-- <img src="{{ url_for('static', filename='images/ARmodel_history.png') }}" alt=""> -->
                                                Further improved prediction with autoregresssion model with history. Prediction in Red. Actual in Blue.
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-twor" role="tabpanel" aria-labelledby="v-pills-twor-tab">         
                                                        <div class="panel">
                                                        <h5 class="panel-header">Prediction score:</h5>
                                                        <div class="panel-body" style="border:solid;align-content:center">
                                                        <span id="prediction_LR">MSE: 0.10041120657022053, R2: 0.9483863870336732</span>
                                                        </div>
                                                        </div>      
                                                        <!-- <img id="LRimg" src="{{ url_for('static', filename='images/LR_residual.png') }}" alt=""> -->
                                                        Linear regression residual error
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-seven" role="tabpanel" aria-labelledby="v-pills-seven-tab">         
                                                        <div class="panel">
                                                        <h5 class="panel-header">Prediction score:</h5>
                                                        <div class="panel-body" style="border:solid;align-content:center">
                                                        <span id="prediction_MLP">r2: 0.7641087240871138</span>
                                                        </div>
                                                        </div>      
                                                        <!-- <img id="LRimg" src="{{ url_for('static', filename='images/MLP_residual.png') }}" alt=""> -->
                                                To be filled
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-eight" role="tabpanel" aria-labelledby="v-pills-eight-tab">         
                                                        <div class="panel">
                                                        <h5 class="panel-header">Prediction score:</h5>
                                                        <div class="panel-body" style="border:solid;align-content:center">
                                                        <span id="prediction_RF">YET To find out</span>
                                                        </div>
                                                        </div>      
                                                        <!-- <img id="LRimg" src="{{ url_for('static', filename='images/RF_residual.png') }}" alt=""> -->
                                                        To be filled
                                        </div>
                                                
                                </div>
                        </div>
                </div>    
                </div>
                </div>
        </div>
        </div>

        <!-- Future trend -->

        <hr>
                <div class="row">
                <div class="col-md-12">
                <div class="jumbotron">
                        <h5>Future Trend</h5>
                        <p>
                                MLP obtained the best model accuracy with the dataset.
                        </p>
                        <p>
                               Predict solar energy consumption with this model
                        
                        </p>
                </div>
                </div>
                </div>
                        <hr>
                        
                <div class="row">
                <div class="col-md-12">
                <div class="row">     
                       
                                <img src="{{ url_for('static', filename='images/futuretrends.png') }}" alt="Future Trends image">
                </div>    
        </div>
        </div>




    </div>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </body>
    
</html>