<!DOCTYPE html>

<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Energy Solar Forecasting Model</title>
        
        <!-- Bootstrap -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <!-- Leaflet CSS & JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <!-- Our CSS -->   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
    <div class="container-fluid">   
        <div class=row>
            <div class="col-md-12">
            <div class="jumbotron text-center">
                    <strong><h1>A forecast of energy consumption, insight into Solar</h1></strong>
                    <p> A time series model prediction using Auto Regression</p>
            </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-6">
                <p>
                        <h4>Select data to load into the model</h4>
                        <form method=post enctype=multipart/form-data>
                          <p><input type=file name=file>
                             <input type=submit value=Upload onclick="alert(`Action not yet supported`)">
                        </form>
                </p>
            <hr>    
            <p>
                    Let's have a look at solar energy consumption
                    Motivation: Interested in energy source and consumption. Motivated by the rise in alternative energy source:
                    <ul>
                    <li>Solar</li>
                    <li>Wind</li>
                    </ul>
                    Energy consumption is distributed across: 
                    <ul>
                    <li>Residential</li>
                    <li>Commercial</li>
                    <li>Industrial</li>
                    </ul>
            </p>
        </div>    
        <div class="col-md-6">
            <div id="map-holder">
                    <div class="container fill">
                        <div id="mapit"></div>
                    </div>
            </div>
        </div>
        </div>
        <hr>
        <div class="row">
              <div class="col-md-12">
                    <div class="row">
                            <div class="col-3">
                              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab" aria-controls="v-pills-one" aria-selected="true">Time serie</a>
                                <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab" aria-controls="v-pills-two" aria-selected="false">Lag Plot</a>
                                <a class="nav-link" id="v-pills-three-tab" data-toggle="pill" href="#v-pills-three" role="tab" aria-controls="v-pills-three" aria-selected="false">Autocorrelation</a>
                                <a class="nav-link" id="v-pills-four-tab" data-toggle="pill" href="#v-pills-four" role="tab" aria-controls="v-pills-four" aria-selected="false">Persistence</a>
                                <a class="nav-link" id="v-pills-five-tab" data-toggle="pill" href="#v-pills-five" role="tab" aria-controls="v-pills-five" aria-selected="false">Autoregression</a>
                                <a class="nav-link" id="v-pills-six-tab" data-toggle="pill" href="#v-pills-six" role="tab" aria-controls="v-pills-six" aria-selected="false">Autoregression w/Training</a>
                                
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab">

                                        <img src="{{ url_for('static', filename='images/timeserie.png') }}" alt="">
                                        The input is a time serie from 1984 to date showing energy consumption
                                </div>
                                <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab">
                                        <img src="{{ url_for('static', filename='images/lag_plot.png') }}" alt="">
                                        We do the lag plot to determine if there is a correlation between time t and t-1
                                </div>
                                <div class="tab-pane fade" id="v-pills-three" role="tabpanel" aria-labelledby="v-pills-three-tab">
                                        <img src="{{ url_for('static', filename='images/autocorr.png') }}" alt="">
                                        We use autocorrelation capability to plot
                                </div>
                                <div class="tab-pane fade" id="v-pills-four" role="tabpanel" aria-labelledby="v-pills-four-tab">
                                        <img src="{{ url_for('static', filename='images/model_persistence.png') }}" alt="">
                                        Naive Persistence model will forecast based on what it has seen. Prediction in Red. Actual in Blue.
                                </div>
                                <div class="tab-pane fade" id="v-pills-five" role="tabpanel" aria-labelledby="v-pills-five-tab">
                                        <img src="{{ url_for('static', filename='images/ARmodel.png') }}" alt="">
                                        Improved prediction with autoregresssion model. Prediction in Red. Actual in Blue.
                                </div>
                                <div class="tab-pane fade" id="v-pills-six" role="tabpanel" aria-labelledby="v-pills-six-tab">
                                        <img src="{{ url_for('static', filename='images/ARmodel_history.png') }}" alt="">
                                        Further improved prediction with autoregresssion model with history. Prediction in Red. Actual in Blue.
                                </div>
                              </div>
                            </div>
                    </div>


                    <hr>

                <!-- <div class="jumbotron"> 
                    <h4>Time serie</h4>        
                    <img src="{{ url_for('static', filename='images/timeserie.png') }}" alt="">
                    The input is a time serie from 1984 to date showing energy consumption
                    <h4>Lag plot</h4>
                    <img src="{{ url_for('static', filename='images/lag_plot.png') }}" alt="">
                    We do the lag plot to determine if there is a correlation between time t and t-1
                    <h4>Auto Correlation</h4>
                    <img src="{{ url_for('static', filename='images/autocorr.png') }}" alt="">
                    We use autocorrelation capability to plot
                    <h4>Persistence</h4>
                    <img src="{{ url_for('static', filename='images/model_persistence.png') }}" alt="">
                    Naive Persistence model will forecast based on what it has seen. Prediction in Red. Actual in Blue.
                    <h4>Autoregression</h4>
                    <img src="{{ url_for('static', filename='images/ARmodel.png') }}" alt="">
                    Improved prediction with autoregresssion model. Prediction in Red. Actual in Blue.
                    <h4>Autoregression with training</h4>
                    <img src="{{ url_for('static', filename='images/ARmodel_history.png') }}" alt="">
                    Further improved prediction with autoregresssion model with history. Prediction in Red. Actual in Blue.
                     
                    <div class="panel">
                            <h5 class="panel-header">Prediction of last submitted image is:</h5>
                            <div class="panel-body" style="border:solid;align-content:center">
                                <p id="prediction_text"> 
                                        {% for predict in predictions.predictions %}
                                        <li>{{ predict.label }}: {{ predict.probability }}</li>
                                      {% endfor %}
                                 </p>
                            </div>
                            </div>
                </div>
             </div> -->
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </body>
    
</html>